.movies {
    margin: 0 auto;
}

.movies__more {
    margin: 0 auto 80px auto;
    width: 320px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    border-style: none;
    background: transparent;
    outline: 2px solid #E8E8E8;
    border-radius: 3px;
    cursor: pointer;
}

.movies__more_hidden {
    display: none;
}

@media screen and (max-width: 320px) {
    .movies__more {
        width: 240px;
        margin-bottom: 159px;
    }
}