.promo {
    min-height: 574px;
    background-color: #073042;
    padding: 0 70px;
    position: relative;
    margin: 0 0 110px 0;
}

.promo__description {
    margin: 0 0 146px 0;
    padding: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    max-width: 310px;
}

.promo__learn-more {
    margin: 0;
    padding: 0;
    width: 129px;
    height: 36px;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 3px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.promo__logo {
    width: 310px;
    height: 304px;
    position: absolute;
    top: 75px;
    right: 70px;
}

.promo__title {
    margin: 0;
    padding: 75px 0 36px 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    color: #FFFFFF;
    max-width: 640px;
}

@media screen and (max-width: 768px) {
    .promo {
        margin: 0 0 90px 0;
        min-height: 850px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
        padding: 0 10px;
    }

    .promo__logo {
        position: static;
        margin: 100px auto 48px auto;
        width: 250px;
        height: 250px;
    }

    .promo__title {
        text-align: center;
        font-size: 38px;
        line-height: 50px;
        padding: 0 0 22px 0;

    }

    .promo__description {
        text-align: center;
        margin: 0 0 92px 0;
    }
}

@media screen and (max-width: 320px) {
    .promo {
        padding: 0;
        min-height: 636px;
        margin: 0 0 70px 0;
    }

    .promo__logo {
        margin: 70px auto 44px auto;
        width: 210px;
        height: 206px;
    }

    .promo__title {
        font-size: 30px;
        line-height: 38px;
        padding: 0 0 24px 0;
        letter-spacing: -0.04em;
    }

    .promo__description {
        margin: 0 0 80px 0;
        max-width: 260px;
    }

    .promo__learn-more {
        width: 129px;
        height: 36px;
    }
}